<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon" [style]="'--background-color: '+customerDetail.color+';'">
                            <i class="material-icons">dashboard</i>
                        </div>
                        <h4 class="card-title">HOME</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row" *ngIf="menuItems.length != 0">
                            <div class="col-sm-6 col-lg-3" *ngFor="let menuitem of menuItems">
                                <div class="card" (click)="routerList(menuitem.path)" [style]="'background: '+customerDetail.color+'; border-radius: 6px;opacity: 0.8; color: #fff;'">
                                    <div class="fondoItem" [style]="'background-image: url(https://api.scanapp.com.co/img/menu/'+menuitem.imgMenu+'); --bubble-color: '+customerDetail.color+';'">
                                    </div>
                                    <div class="card-body text-center">
                                        <i class="material-icons home">{{menuitem.icontype}}</i>
                                        <h4>{{menuitem.title}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>