<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card ">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon" [style]="'--background-color: '+customerDetail.color+';'">
							<i class="material-icons">location_on</i>
						</div>
						<h4 class="card-title">Crear eventos</h4>
					</div>
					<div class="card-body ">
						<form class="form">
							<div class="row">
								<div class="col-4"> <!--NOMBRE-->
                  <mat-form-field  class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput class="form-control" type="text" placeholder="Ingresa el nombre del usuario"
                      autocomplete="off">
                  </mat-form-field>
                </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>