<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"> <!--CARTA DEL FORMULARIO-->
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" [style]="'--background-color: '+customerDetail.color+';'">
              <i class="material-icons">location_on</i>
            </div>
            <h4 class="card-title">Crear eventos</h4>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="form" (ngSubmit)="saveData()">
              <div class="row">
                <div class="col-4"> <!--nombre del asesor-->
                  <mat-form-field appearance="fill">
                    <mat-label>Nombre del asesor</mat-label>
                    <input matInput placeholder="ingresa el nombre del asesor" formControlName="assesorName"
                      autocomplete="off">
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-4"> <!--nombre de la compañia-->
                  <mat-form-field appearance="fill">
                    <mat-label>Nombre de la compañia</mat-label>
                    <input matInput placeholder="ingresa el nombre de la comapañia" formControlName="companyName"
                      autocomplete="off">
                    <mat-icon matSuffix>business_center</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-4"> <!--lugar del evento-->
                  <mat-form-field appearance="fill">
                    <mat-label>Lugar del evento</mat-label>
                    <input matInput placeholder="ingresa el nit de la comapañia" formControlName="eventPlace"
                      autocomplete="off">
                    <mat-icon matSuffix>place</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-4"> <!--nit de la compañia-->
                  <mat-form-field appearance="fill">
                    <mat-label>Nit de la compañia</mat-label>
                    <input matInput placeholder="ingresa el nit de la comapañia" formControlName="nit"
                      autocomplete="off" type="text">
                    <mat-icon matSuffix>place</mat-icon>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                  <p class="alert alert-danger" *ngIf="form.controls['nit'].hasError('maxlength')"
                    [style]="'background-color: '+customerDetail.color+' !important;'">Excedes el limite de 12
                    caracteres</p>
                </div>
                <div class="col-4">   <!--DATE-->
                  <mat-form-field appearance="fill">
                    <mat-label>fecha</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="ingresa una fecha" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>este campo es obligatorio *</mat-hint>
                  </mat-form-field>
                </div>
                <hr>
                <div class="col-12" align="center"> <!--IMAGE UPLOAD-->
                  <input type="file" class="d-none" (change)="photoSelected($event)" #photoInpu formControlName="image">
                  <img [src]="photoSelection|| 'assets/img/icons-Andres/download-removebg-preview.png'" alt="foto"
                    class="img-fluid" (click)="photoInpu.click()" width="120" height="120">
                  <p>Sube una imagen (esto es opcional)</p>
                </div>
                <div class="col-12"> <!--BOTON-->
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose"
                    [style]="'background-color: '+customerDetail.color+' !important;'" [disabled]="form.invalid"
                    (click)="showModal()">Realizar Registro</button>
                  <button mat-raised-button type="button" class="btn btn-fill btn-rose" [style]="'background-color: '+customerDetail.color+' !important;'" (click)="resetForm()"  style="margin: 25px">
                    Limpiar Formulario
                  </button>
                </div>
              </div>
            </form>

          </div>

        </div>
      </div>
      <!-- TABLA -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon" [style]="'background-color: '+customerDetail.color+' !important;'">
              <i class="material-icons">storage</i>
            </div>
            <h4 class="card-title">Tabla de Registro</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
              </mat-form-field>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <!-- assesorName Column -->
                <ng-container matColumnDef="assesorName">
                  <th mat-header-cell *matHeaderCellDef> Nombre del asesor </th>
                  <td mat-cell *matCellDef="let element"> {{element.assesorName}} </td>
                </ng-container>
                <!-- companyName Column -->
                <ng-container matColumnDef="companyName">
                  <th mat-header-cell *matHeaderCellDef> Nombre de la compañia </th>
                  <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                </ng-container>
                <!-- nit Column -->
                <ng-container matColumnDef="nit">
                  <th mat-header-cell *matHeaderCellDef> Nit </th>
                  <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
                </ng-container>
                <!-- eventPlace Column -->
                <ng-container matColumnDef="eventPlace">
                  <th mat-header-cell *matHeaderCellDef> Lugar del Evento </th>
                  <td mat-cell *matCellDef="let element"> {{element.eventPlace}} </td>
                </ng-container>
                <!-- image Column -->
                <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef> Imagen </th>
                  <td mat-cell *matCellDef="let element"> {{element.image}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>